<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="TrainingContext" connectionString="metadata=res://*/TrainingModel.csdl|res://*/TrainingModel.ssdl|res://*/TrainingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EGIOSTIC-1997;initial catalog=Training;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PlutoEntities" connectionString="metadata=res://*/TrainingDBModel.csdl|res://*/TrainingDBModel.ssdl|res://*/TrainingDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EGIOSTIC-1997;initial catalog=Pluto;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TrainingContextDB" connectionString="metadata=res://*/TrainingDB.csdl|res://*/TrainingDB.ssdl|res://*/TrainingDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=egiostic-1997;initial catalog=Training;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TrainingDBEntities" connectionString="metadata=res://*/TrainingDbModels.csdl|res://*/TrainingDbModels.ssdl|res://*/TrainingDbModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\TrainingDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TrainingDBContext" connectionString="metadata=res://*/TrainingInsitiuteModels.csdl|res://*/TrainingInsitiuteModels.ssdl|res://*/TrainingInsitiuteModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\TrainingDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>